@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
  --brand-green: #00856f;
  --brand-green-hover: #00453a;
  --brand-green-light: #dce9e2;
  --brand-green-light-02: #f7f9f9;
  --brand-beige: #fffaf1;
  --gray-headline: #212529;
  --gray-paragraph: #495057;
  --white: #ffffff;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--brand-green-light-02);
  text-align: center;
  overflow: overlay;
}

.wrapper {
  width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h1 {
  font-size: 3.4rem;
  color: var(--gray-headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section header h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: var(--gray-headline);
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  letter-spacing: 0.08rem;
  color: var(--brand-green);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

section .content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--gray-paragraph);
}

.button {
  background-color: var(--brand-green);
  color: var(--white);
  border-radius: 4rem;
  border: none;
  padding: 1.6rem 3.2rem;
  width: fit-content;

  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 6rem;
  transition: background 300ms;
}

.button:hover {
  background-color: var(--brand-green-hover);
}

nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background-color: var(--brand-green);
  width: 100vw;
}

nav.scroll .logo path {
  fill: var(--white);
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded nav {
  position: relative;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--brand-green);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
}

.menu a {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;

  text-align: center;
  text-decoration: none;
}

.menu .button {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  background-color: var(--white);
  border-radius: 4rem;

  color: var(--brand-green);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--white);
}

body.menu-expanded button path {
  stroke: var(--white);
}

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  background-color: var(--brand-green-light);
  width: 100%;
  height: calc(108rem + var(--nav-height));
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  text-align: center;
  color: var(--gray-paragraph);
  margin-bottom: 3.3rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  background-color: var(--brand-beige);
  border: 1px solid var(--brand-green-light);
  border-radius: 0.6rem;
  padding-block: 4rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  line-height: 6.2rem;
  color: var(--gray-headline);
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--brand-green);
}

#services h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  text-align: left;
  padding: 2.4rem;
  background-color: var(--white);
  border: 0.1rem solid var(--brand-green-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--gray-headline);
}

#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
